@{
    ViewData["Title"] = "Home Page";
}

<h1>Message Information</h1>
    <ul>
      <li>ID: @Model.MessageId</li>
      <li>Date: @Model.Date</li>
      <li>Title: @Model.Title</li>
      <li>Body: @Model.Body</li>
      <li>Author: @Model.Author</li>
      <li>Group: @Model.Group</li>
    </ul>

<a href="/Messages/Edit/@(Model.MessageId)"><p>Edit</p></a>
<br>

<a href="/Messages"><p>Return</p></a>

<a href="/Messages/Delete/@(Model.MessageId)"><p>Delete Message</p></a>