@{
    ViewData["Title"] = "Home Page";
}
    
    <ul>
      <li>ID: @Model.MessageId</li>
      <li>Date: @Model.Date</li>
      <li>Title: @Model.Title</li>
      <li>Body: @Model.Body</li>
      <li>Author: @Model.Author</li>
      <li>Group: @Model.Group</li>
    </ul>