@{
    ViewData["Title"] = "Home Page";
}

<form action="/messages" method="post">
  <label for="date">Date</label>
  <input id="date" name="date" type="text">
  <label for="title">Title</label>  
  <input id="title" name="title" type="text">
  <label for="bodye">Body</label>
  <input id="body" name="body" type="text">
  <label for="author">Author</label>
  <input id="author" name="author" type="text">
  <label for="group">Group</label>
  <input id="group" name="group" type="text">
</form>

<ol>
  @foreach (Message message in Model)
  {
    <ul>
      <li>ID: @message.MessageId</li>
      <li>Date: @message.Date</li>
      <li>Title: @message.Title</li>
      <li>Body: @message.Body</li>
      <li>Author: @message.Author</li>
      <li>Group: @message.Group</li>
    </ul>
  }
</ol>